$font-stack: 'Lato' , sans-serif
$site-color: #20C4F4
$important-color: #0461A9
$frog: #A8CE69
$text-color: #515151
$title1color: #ECA111
$title2color: #E4202C



body
  color: $site-color
  font-family: $font-stack
  background:
    color: white
  margin: 0px

.navBar
  display: flex
  justify-content: space-between
  align-items: center
  background: $site-color
  color: white
  padding-top: 1.3em

  .HomeLink
    padding-right: 20px
    color: $important-color

  .ShopLink, .SweetLink
    padding-right: 15px

  .SearchBar
    color: $site-color
    font-size: 15px

  ul
    list-style: none
    font:
      family: $font-stack
      weight: 700
    margin: 0px
    padding:
      left: 0px
      top: 15px
      bottom: 15px

  li
    display: inline

  a
    text-decoration: none
    color: white

  a:hover
    color: $important-color

  input
    width: 350px
    padding:
      top: 5px
      bottom: 5px

.HeaderImg
  height: 160px
  width: 100%
  display: flex
  flex-wrap: wrap
  background:
    image: url('./images/sanriologo.png')
    repeat: no-repeat

.AdsContainer
  display: flex
  justify-content: space-around

  p
    color: $text-color
    font-size: 17px

.AdBox1
  padding:
    right: 1em
    left: 2em

  a
    color: $important-color
    font-size: 18px
    text-decoration: none

.AdBox2
  padding:
    right: 2em
    left: 1em

  a
    color: $frog
    font-size: 18px
    text-decoration: none

.FirstImage, .SecondImage
  height: 250px

.Title1
  color: $title1color
  font-size: 22px

.Title2
  color: $title2color
  font-size: 22px
  margin: 20px
  margin-left: 0px

.CharacterBlock
  margin-top: 40px


  h2
    color: $text-color

.CharacterImages
  display: flex
  justify-content: space-around
  flex-wrap: wrap

  img
    height: 180px
    width: 180px
