$font-stack: 'Lato' , sans-serif
$site-color: #20C4F4
$important-color: #0461A9

body
  color: $site-color
  font-family: $font-stack
  background:
    color: white
  margin: 0px

.navBar
  display: flex
  justify-content: space-between
  align-items: center
  background: $site-color
  color: white

  .HomeLink
    padding-right: 20px
    color: $important-color

  .ShopLink, .SweetLink
    padding-right: 15px

  .SearchBar
    color: $site-color
    font-size: 15px

  ul
    list-style: none
    font:
      family: $font-stack
      weight: 700
    margin: 0px
    padding:
      left: 0px
      top: 15px
      bottom: 15px

  li
    display: inline

  a
    text-decoration: none
    color: white

  a:hover
    color: $important-color

  input
    width: 350px
    padding:
      top: 5px
      bottom: 5px

.HeaderImg
  height: 34vh
  background:
    image: url('./images/sanriologo.png')
    repeat: no-repeat
